<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}

    <style>
        body {
            opacity: 0;
            transition-duration: 133.7ms;
            transition-timing-function: ease-in-out;
        }
    </style>

    <link rel="icon" type="image/png" sizes="96x96" href="/images/logo/favicon.png">
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <link rel="stylesheet" href="{{ '/assets/swiper.min.css' | url }}">

    <link rel="stylesheet" href="{{ '/assets/photoswipe.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/default-skin/default-skin.css' | url }}">
  </head>
  <body>
    {% include "partials/site-head.html" %}

    <main tabindex="-1" id="main-content" class="focus:outline-none">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

    <!-- swiper -->
    <script type="text/javascript" src="{{ '/assets/swiper.min.js' | url }}" defer></script>

    <!-- photeSwipe -->
    <script type="text/javascript" src="{{ '/assets/photoswipe.min.js' | url }}" defer></script>
    <script type="text/javascript" src="{{ '/assets/photoswipe-ui-default.min.js' | url }}" defer></script>
    <script type="text/javascript" src="/js/photoswipe.js" defer></script>

    <!-- custom.js -->
    <script type="text/javascript" src="/js/custom.js" defer></script>

    <!-- Google recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LcGoMUZAAAAAILPx-cktiBGrn0I1CQAtqwbdFYr"></script>
    <script>
        grecaptcha.ready(function() {
        // do request for recaptcha token
        // response is promise with passed token
            grecaptcha.execute('6LcGoMUZAAAAAILPx-cktiBGrn0I1CQAtqwbdFYr', {action:'validate_captcha'})
                      .then(function(token) {
                // add token value to form
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
  </body>
</html>