{% extends "layouts/base.html" %}

{% block content %}

{% include "partials/page-header.html" %}
{% include "partials/page-intro.html" %}

<article itemscope itemtype="https://schema.org/contactPage" class="container mx-auto mt-4 md:grid py-4 px-8">
    <div class="grid py-8">
        <div class="md:w-2/3">
            <h2 class="pb-4 text-gray"><span class="text-green">Stuur</span> ons een bericht</h2>
            <p class="text-gray pb-4">Aarzel niet om ons een bericht te sturen of te bellen. Kas Douma staat 24 uur per dag, 7 dagen per week voor u klaar in geval van nood. Bel ons op de gegevens hiernaast, of vul het formulier hieronder in. Wij nemen dan zo snel mogelijk contact met u op.</p>
        </div>
    </div>
    <section class="text-gray body-font relative">
        <div class="container mx-auto sm:flex sm:flex-no-wrap flex-wrap pb-12">

            {% include "partials/form.html" %}

            <div class="shadow-box lg:w-3/5 md:w-1/2 bg-gray rounded-tl-lg rounded-br-lg overflow-hidden sm:ml-8 flex items-end justify-start relative">
                <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2457.4038714192866!2d5.926067715787455!3d51.981292079715686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7a44655225859%3A0xc82e6f859fc70431!2sThorbeckestraat%2028%2C%206828%20TX%20Arnhem!5e0!3m2!1sen!2snl!4v1633351825040!5m2!1sen!2snl" style="filter: grayscale(0) contrast(1) opacity(1);"></iframe>
                <div class="w-full bg-gray relative flex flex-wrap py-6">
                    <div class="lg:w-1/2 px-6">
                        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="text-white">
                            <h3 class="text-white"><span class="text-green">Contact</span> informatie</h3>
                            <p class="mt-2">Kas Douma Dakdekkers</p>
                            <p class="mt-2"><span itemprop="streetAddress">Thorbeckestraat 28</span><br>
                                <span itemprop="postalCode">6828 TX</span>, <span itemprop="addressLocality">Arnhem</span></p>
                        </div>
                    </div>
                    <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
                        <h2 class="title-font text-white text-sm">Tel:</h2>
                        <p><a itemprop="telephone" class="link" href="tel:+31655887064">06 - 55 88 70 64</a></p>
                        <h2 class="title-font text-white text-sm mt-4">E-mail:</h2>
                        <p><a itemprop="email" class="link" href="mailto:info@douma-dakdekkers.nl">info@douma-dakdekkers.nl</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

{% endblock %}