{% extends "layouts/base.html" %}

{% block content %}

{% include "partials/page-header.html" %}

{% include "partials/page-intro.html" %}

            <article class="container pt-8 px-8 mx-auto">

                {{ content | safe }}

                <a href="{{ button.link }}" class="btn btn-orange mt-4 inline-block">{{ button.text }}</a>


                <!-- todo: insert images -->
                <div class="grid grid-cols-2 gap-4 mt-12">
                    <div>
                        <img src="../img/roof2-1.jpg" class="rounded-tl-lg rounded-br-lg" alt="">
                    </div>
                    <div>
                        <img src="../img/roof2-0.jpg" class="rounded-tl-lg rounded-br-lg" alt="">
                    </div>
                </div>

            </article>

{% include "partials/breakdown-service.html" %}
{% include "partials/why-douma.html" %}

{% endblock %}