{% extends "layouts/base.html" %}

{% block content %}

{% include "partials/page-header.html" %}
{% include "partials/page-intro.html" %}

            <article class="container pt-8 px-8 mx-auto">

                <div class="container mx-auto mt-4 md:grid md:grid-cols-2 lg:grid-cols-3 py-4 gap-8">

                    {% for item in collections.diensten %}

                    <div class="my-4 rounded-tl-lg rounded-br-lg shadow-md overflow-hidden">
                        <div class="relative pb-2/3">
                            <a href="{{ item.url }}" title="Ga naar {{ item.data.title }}">
                                <img class="absolute h-full w-full object-cover" src="{{ item.data.hero.image }}" alt="{{ item.data.hero.imageAlt }}">
                            </a>
                        </div>
                        <div class="p-4 bg-gray text-white">
                            <a href="{{ item.url }}" title="Ga naar {{ item.data.title }}"><h3 class="text-center">{{ item.data.title }}</h3></a>
                            <p class="py-2 truncate">{{ item.data.summary }}</p>
                            <div class="py-4 text-center ">
                                <a href="{{ item.url }}" class="btn btn-orange" title="Ga naar {{ item.data.title }}">Lees meer</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>

            </article>

{% endblock %}