{% extends "layouts/base.html" %}

{% block content %}

{% include "partials/page-header.html" %}

{% include "partials/page-intro.html" %}

            <article class="container pt-8 px-8 mx-auto">

                {{ content | safe }}

                <a href="{{ button.link }}" class="btn btn-orange mt-4 inline-block">{{ button.text }}</a>


                <!-- todo: insert images -->
                <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 mt-12 mb-8">
                    <div>
                        <img src="{{ bottom.imageLeft }}" class="w-full	h-full rounded-tl-lg rounded-br-lg" alt="{{ bottom.imageLeftAlt }}">
                    </div>
                    <div>
                        <img src="{{ bottom.imageRight }}" class="w-full h-full rounded-tl-lg rounded-br-lg" alt="{{ bottom.imageRightAlt }}">
                    </div>
                </div>

            </article>

{% include "partials/breakdown-service.html" %}
{% include "partials/why-douma.html" %}

{% endblock %}