{% extends "layouts/base.html" %}

{% block content %}

{% include "partials/page-header.html" %}
{% include "partials/page-intro.html" %}

    <!-- https://codepen.io/selbywinkler/pen/vNyNMR -->
    <div id="douma-gallery" class="douma-gallery" data-pswp-uid="1">
        <div class="container p-8 mx-auto md:grid md:grid-cols-3 gap-8">

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-schuin-dak.jpg" data-size="3264x2448">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-schuin-dak.jpg" alt="kas-douma-dakbedekking-onderhoudsbedrijf-schuin-dak">
                    </div>
                </div>
            </a>            

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-arnhem-dak-oud-ladder-man.png" data-size="1134x851">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-arnhem-dak-oud-ladder-man.png" alt="">
                    </div>
                </div>
            </a>

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-steiger-te-huur-zijkant.jpg" data-size="3264x2448">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-steiger-te-huur-zijkant.jpg" alt="kas-douma-dakbedekking-onderhoudsbedrijf-steiger-te-huur">
                    </div>
                </div>
            </a>            

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-arnhem-dak-oud.png" data-size="640x522">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-arnhem-dak-oud.png" alt="douma-dakbedekking">
                    </div>
                </div>
            </a>

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-arnhem-home-slider-alle-bussen.png" data-size="1980x1405">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-arnhem-home-slider-alle-bussen.png" alt="douma-dakbedekking-dakonderhoud-dak-werkzaamheden">
                    </div>
                </div>
            </a>

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-stijger-wit-huis.jpg" data-size="3264x2448">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-stijger-wit-huis.jpg" alt="kas-douma-dakbedekking-onderhoudsbedrijf">
                    </div>
                </div>
            </a>

            <a href="/images/slider/douma-dakdekkers-dakreparatie-arnhem.jpeg" data-size="1920x1020">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/slider/douma-dakdekkers-dakreparatie-arnhem.jpeg" alt="douma-dakdekkers-dakreparatie-arnhem">
                    </div>
                </div>
            </a>

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-oud-douma-gebouw-zwart-wit.jpg" data-size="1600x1200">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-oud-douma-gebouw-zwart-wit.jpg" alt="kas-douma-dakbedekking-onderhoudsbedrijf">
                    </div>
                </div>
            </a>

            <a href="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-rode-dubbeldekker-bus.jpg" data-size="1600x1200">
                <div class="rounded-tl-lg rounded-br-lg overflow-hidden shadow-box hover-zoom">
                    <div class="relative pb-2/3">
                        <img class="absolute h-full w-full object-cover" src="/images/img/kas-douma-dakbedekking-onderhoudsbedrijf-rode-dubbeldekker-bus.jpg" alt="kas-douma-dakbedekking-onderhoudsbedrijf">
                    </div>
                </div>
            </a>            

        </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}