@tailwind base;

.slider-text {
    z-index: 9999;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;  
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);    
}

.slider-button {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    width: 200px;
}

/**
 * Form Validation Errors
 */
 .error {
	border-color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}

.grecaptcha-badge { 
    visibility: hidden;
}

body {
    opacity: 1;
}

html {
    font-size: 18px
}

h1 {
    @apply text-6xl;
    @apply font-bold;
}
h2 {
    @apply text-4xl;
    @apply font-bold;
}
h3 {
    @apply text-2xl;
    @apply font-bold;
}

a.link {
    @apply text-orange;
}

a.link:hover {
    @apply underline;
}

a.link-white {
    @apply text-white;
}

a.link-white:hover {
    @apply text-orange;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-orange {
    @apply bg-orange text-white;
}
.btn-orange:hover {
    @apply bg-orange-dark;
}

.active,
.menu-item:hover {
    border-bottom: 2px solid #ea8b34;
}

.menu-item {
    border-bottom: 2px solid rgba(0,0,0,0);
}

.sub-menu {
  display: none;
  width: max-content;
}

@media (min-width: 768px) {
    .dropdown:hover .sub-menu  {
        display: block;
    }
}

.contact-form-slider {
    z-index: 1000;
    top: 5%;
    left: 10%;
}

@media (min-width: 768px) {
    .swiper-slide img {
        min-height: 600px;
        max-height: 600px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .slider-button,
    .slider-text {
        display: none;
    }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100vw;
}


.swiper-button-next,
.swiper-button-prev {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    color: #fff !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: rgba(0, 0, 0, 0.8);
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size: 30px !important;
}

.banner {
    position: relative;
}

.lines-slider {
    position: absolute;
    z-index: 9;
    bottom: -1px;
    left: 0px;
    width: 100%;
}

.lines {
    position: relative;
    top: 2px;
}

.lines-inverted {
    position: relative;
    top: -2px;
    transform: rotate(180deg);
}

.shadow-box {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
}

.hover-zoom:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.hover-zoom {
    transition: 0.5s;
}

.hover-zoom-v2:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.hover-zoom-v2 {
    transition: 0.5s;
}

.banner-height {
    height: 400px;
}

.z-index-99 {
    z-index: 9999999;
}

@tailwind components;
@tailwind utilities;
