        <div class="lines">
            <img src="../images/lines/lines.svg" alt="">
        </div>
        <footer class="pt-8 pb-12 px-4 bg-gray text-white">

            <div class="container mx-auto mt-4 md:grid md:grid-cols-3 gap-8">

                <div class="mt-4">
                    <h3>Contactgegevens</h3>
                    <p class="mt-2">Kas Douma</p>
                    <p class="mt-2">Brederode 32<br>
                        6922BM, Duiven</p>
                    <p class="mt-2">Tel: <a class="link" href="06-55887064">06-55887064</a></p>
                    <p>E-mail:  <a class="link" href="info@douma-dakdekkers.nl">info@douma-dakdekkers.nl</a></p>

                    <a href="#" class="btn btn-orange inline-block mt-4">Contact opnemen</a>
                </div>

                <div class="mt-4">
                    <h3>Onze diensten</h3>
                    <ul class="mt-2">
                        <li>&bull; Dak bedekking</li>
                        <li>&bull; Dak onderhoud</li>
                        <li>&bull; Dak inspectie</li>
                        <li>&bull; Steiger verhuur</li>
                        <li>&bull; Timmerwerken</li>
                        <li>&bull; Zink & loodwerk</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <h3>Openingstijden</h3>
                    <ul class="mt-2">
                        <li>Maandag 07:00-18:00</li>
                        <li>Dinsdag 07:00-18:00</li>
                        <li>Woensdag 07:00-18:00</li>
                        <li>Donderdag 07:00-18:00</li>
                        <li>Vrijdag 07:00-18:00</li>
                        <li>Zaterdag 07:00-18:00</li>
                        <li>Zondag GESLOTEN</li>
                    </ul>

                    <p class="mt-4 italic">Voor storingen zijn wij 24/7 bereikbaar Neem contact op <a class="link" href="tel:06-55887064">06-55887064</a></p>
                </div>
            </div>

        </footer>