<article class="container mx-auto p-8 md:w-1/2">

        <div class="">
            <h2><span class="text-green">Contact</span> opnemen</h2>
            <span class="text-gray italic">Offertes zijn inclusief gratis dakinspectie.</span>
            <form class="mt-2 md:mt-0" action="/form-handling.php" method="POST">
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                <input type="hidden" name="action" value="validate_captcha">
                <div class="container mx-auto grid md:grid-cols-2 gap-2 py-2">
                    <input class="bg-lightgray placeholder-gray rounded focus:outline-none focus:border-gray text-base px-4 py-2 mb-4" placeholder="Naam" type="text" name="name" required>
                    <input class="bg-lightgray placeholder-gray rounded focus:outline-none focus:border-gray text-base px-4 py-2 mb-4" placeholder="E-mailadres" type="email" name="email" required>
                    <input class="bg-lightgray placeholder-gray rounded focus:outline-none focus:border-gray text-base px-4 py-2 mb-4" placeholder="Telefoonnummer" type="tel" name="phone">
                    <select class="w-full bg-lightgray placeholder-gray rounded focus:outline-none focus:border-gray text-base px-4 py-2 mb-4 pl-3 appearance-none" name="service">
                        <option>Kies een dienst</option>
                        <option>Dakbedekking</option>
                        <option>Dakinspectie</option>
                        <option>Dak Onderhoud</option>
                        <option>Stijger Verhuur</option>
                        <option>Timmerwerken</option>
                        <option>Zink- en Loodwerk</option>
                    </select>
                </div>
                <textarea class="w-full bg-lightgray placeholder-gray rounded focus:outline-none focus:border-gray text-base px-4 py-2 mb-4 h-32" placeholder="Uw bericht" name="comment" required></textarea>
            
                <button class="btn btn-orange block text-center mb-2 w-full" type="submit">
                    Verstuur
                </button>
            </form>
        </div>                    

</article>