    <div>
        <h2><span class="text-green">Contact</span> opnemen</h2>
        <span class="text-gray italic">Offertes zijn inclusief gratis dakinspectie.</span>
        <form id="form" class="mt-2 md:mt-0" action="/form-handling.php" method="POST">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <input type="hidden" name="action" value="validate_captcha">
            <div class="container mx-auto grid md:grid-cols-2 gap-2 py-2">
                <div>
                    <input class="bg-lightgray placeholder-gray rounded focus:border-gray text-base px-4 py-2 mb-4 w-full" placeholder="Naam  *" type="text" name="name" required>
                </div>
                <div>
                    <input class="bg-lightgray placeholder-gray rounded focus:border-gray text-base px-4 py-2 mb-4 w-full" placeholder="E-mailadres *" type="email" name="email" required>                              
                </div>
            </div>
            <div>
                <input class="bg-lightgray placeholder-gray rounded focus:border-gray text-base px-4 py-2 mb-4 w-full" placeholder="Telefoonnummer" type="tel" name="phone">
            </div>            
            <textarea class="w-full bg-lightgray placeholder-gray rounded focus:outline-none focus:border-gray text-base px-4 py-2 mb-4 h-32" placeholder="Uw bericht *" name="comment" required></textarea>
        
            <button class="btn btn-orange block text-center mb-2 w-full" type="submit">
                Verstuur
            </button>
        </form>
    </div> <!-- end contactform column -->                  