            <div class="lines">
                <img src="../images/lines/lines.svg" alt="">
            </div>
            <article class="intro flex flex-wrap px-8 pt-10 pb-12 bg-gray text-white text-center">
                <div class="md:w-1/2 md:mx-auto">
                    <h2><span class="text-green">Douma's</span> historie</h2>
                    <p class="pt-4 pb-8">Het familiebedrijf Douma kent een historie van bijna 86 jaar. In 1929 is het bedrijf opgericht. Als dakdekkers in Arnhem hebben wij al vele daken mogen behandelen. Ons bedrijf doet grote en kleine projecten, zowel nieuwbouw als renovatie. Voor zakelijke en particuliere relaties.</p>

                    <a href="#" class="btn btn-orange">Lees verder</a>
                </div>
            </article>
            <div class="lines-inverted">
                <img src="../images/lines/lines.svg" alt="">
            </div>