            <article class="p-8">
                <h2 class="text-center text-gray"><span class="text-green">Ons</span> portfolio</h2>

                <div class="container px-8 mx-auto mt-4 md:grid md:grid-cols-3 gap-8">

                    <div class="my-4 rounded-tl-lg rounded-br-lg overflow-hidden shadow-md">
                        <div class="relative pb-2/3">
                            <img class="absolute h-full w-full object-cover" src="/images/diensten/douma-dakdekkers-diensten-dakonderhoud.png" alt="">
                        </div>
                    </div>

                    <div class="my-4 rounded-tl-lg rounded-br-lg overflow-hidden shadow-md">
                        <div class="relative pb-2/3">
                            <img class="absolute h-full w-full object-cover" src="/images/diensten/douma-dakdekkers-diensten-dakinspectie.jpg" alt="">
                        </div>
                    </div>

                    <div class="my-4 rounded-tl-lg rounded-br-lg overflow-hidden shadow-md">
                        <div class="relative pb-2/3">
                            <img class="absolute h-full w-full object-cover" src="/images/diensten/douma-dakdekkers-diensten-dakonderhoud.png" alt="">
                        </div>
                    </div>

                </div>
            </article>