            <article class="p-8">
                <h2 class="text-center"><span class="text-green">Ons</span> portfolio</h2>

                <div class="container mx-auto mt-4 md:grid md:grid-cols-3 gap-8">

                    <div class="my-4 bg-gray text-white rounded-tl-lg rounded-br-lg overflow-hidden">
                        <div class="relative pb-2/3">
                            <img class="absolute h-full w-full object-cover" src="../img/roof2-0.jpg" alt="">
                        </div>
                        <div class="p-4">
                            <h3 class="text-center">Dakbedekking</h3>
                            <p class="py-2">Bent u op zoek naar een dakdekker in Arnhem, Utrecht, Apeldoorn, Doetichem, Nijmegen, Amersfoort of omstreken die de lekkage van uw dak kan repareren, lekkages kan voorkomen...</p>
                            <div class="py-4 text-center ">
                                <a href="#" class="btn btn-orange">Bekijk project</a>
                            </div>
                        </div>
                    </div>

                    <div class="my-4 bg-gray text-white rounded-tl-lg rounded-br-lg overflow-hidden">
                        <div class="relative pb-2/3">
                            <img class="absolute h-full w-full object-cover" src="../img/roof2-1.jpg" alt="">
                        </div>
                        <div class="p-4">
                            <h3 class="text-center">Dakbedekking</h3>
                            <p class="py-2">Bent u op zoek naar een dakdekker in Arnhem, Utrecht, Apeldoorn, Doetichem, Nijmegen, Amersfoort of omstreken die de lekkage van uw dak kan repareren, lekkages kan voorkomen...</p>
                            <div class="py-4 text-center ">
                                <a href="#" class="btn btn-orange">Bekijk project</a>
                            </div>
                        </div>
                    </div>

                    <div class="my-4 bg-gray text-white rounded-tl-lg rounded-br-lg overflow-hidden">
                        <div class="relative pb-2/3">
                            <img class="absolute h-full w-full object-cover" src="../img/roof2-0.jpg" alt="">
                        </div>
                        <div class="p-4">
                            <h3 class="text-center">Dakbedekking</h3>
                            <p class="py-2">Bent u op zoek naar een dakdekker in Arnhem, Utrecht, Apeldoorn, Doetichem, Nijmegen, Amersfoort of omstreken die de lekkage van uw dak kan repareren, lekkages kan voorkomen...</p>
                            <div class="py-4 text-center">
                                <a href="#" class="btn btn-orange">Bekijk project</a>
                            </div>
                        </div>
                    </div>

                </div>
            </article>