<!-- <a class="" href="#main-content">Direct naar inhoud</a> -->

        <header>

          {% include "partials/top-header.html" %}

            <div class="bg-gray md:flex md:justify-between md:items-center  md:px-4 md:py-3">
                <div class="flex items-center justify-between bg-gray px-4 py-3 md:p-0">
                    <div class="">
                        <a href="/" aria-label="{{ site.name }} - home">
                            <img class="h-12" src="{{ site.logo }}" alt="logo">
                        </a>
                    </div>
                    <div class="md:hidden">
                        <button id="mobileMenuButton-js" type="button" class="block hover:text-white focus:text-white">
                            <svg class="h-8 w-8 fill-current text-orange" viewBox="0 0 24 24">
                                <path id="menuClosed-js" class="hidden" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                                <path id="menuOpen-js" class="block" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <nav
                  id="menu-js"
                  class="hidden px-2 pt-2 pb-4 text-white md:flex md:p-0"
                  aria-label="Primary navigaton"
                >
                {% for item in navigation.items %}
                    <a
                        class="menu-item block px-2 py-1 text-lg font-bold"
                        href="{{ item.url }}"
                        {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                      >{{ item.text }}</a>
                      {% if item.text == 'Diensten' %}
                        &#x25BE;
                        sub menu 1

                      {% endif %}
                {% endfor %}
                </nav>
            </div>
        </header>
