            <article role="banner" class="slider">

                <div class="md:hidden md:container md:mx-auto mx-4 pt-10 pb-12 py-8">
                    <h2 class="leading-9"><span class="text-green">Dakbedekking</span> & onderhoudsbedrijf</h2>
                    <p>Als u op zoek bent naar een dakdekker in de regio Arnhem? Dan moet u bij Douma Dakdekkers zijn!</p>
                    <a href="#" class="btn btn-orange inline-block mt-4">Contact opnemen</a>
                </div>

                <!-- Swiper -->
                <div class="hiddden md:block swiper-container">

                    {% include "partials/slider-contact.html" %}

                    </div> <!-- .swiper -->

                    <div class="lines-slider">
                        <img src="../images/lines/lines.svg" alt="">
                    </div>

                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ slider.slide01 }}" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ slider.slide02 }}" alt="">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div> <!-- /swiper -->

            </article>

            <article class="flex flex-wrap mx-auto w-full pt-10 pb-12 px-4 bg-gray text-white text-center">
                <div class="md:w-1/2 lg:w-1/3 md:mx-auto">
                    <h2>Storingsdienst</h2>
                    <h3>24/7 Bereikbaar</h3>
                    <p class="py-6">Heeft u een dringend probleem met uw dak dat spoedhulp vereist? Aarzel dan niet en neem direct contact met ons op. Voor deze dienst zijn wij 7 dagen per week, 24 uur per dag bereikbaar.</p>

                    <button class="btn btn-orange">
                        Tel: 06 - 55 88 70 64
                    </button>
                </div>
            </article>
            <div class="lines-inverted">
                <img src="../images/lines/lines.svg" alt="">
            </div>