            <article class="md:container md:mx-auto py-4 px-8">
                <h2 class="text-center"><span class="text-green">Waarom</span> Douma Dakdekkers?</h2>

                <div class="container mx-auto mt-4 md:grid md:grid-cols-3 gap-8 text-center">

                    {% for item in collections.usps %}

                    <div class="mt-8">
                        {{ item.data.icon | safe }}
                        <h3>{{ item.data.title }}</h3>
                        <p>{{ item.data.summary }}</p>
                    </div>

                    {% endfor %}

                </div>
            </article>